@import 'scss/common';


/* Container */

.App-container {
  $max-width: 800px;
  $padding: 1rem;
  width: min($max-width, 100% - $padding);
  margin-inline: auto;
  text-align: center;
}

/* Container */
   
.titel-sub-word{
  color: tomato;
}